<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'css/mini_fb.css' %}">
    </head>    
<body>
    <header>
        <h1>Mini Facebook</h1>
    </header>
    <nav>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Mini Facebook</p>
    </footer>
</body>
</html>
